@import "../node_modules/@videoamp/videoamp-icons/css/style.css";

$primary-color: #606060;
$icon-color: #2979FF;
$background-hover: #242424;
$icon-hover: #FFD740;

.va-icons-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.va-appbar-icon {
    width: 24px;
    height: 24px;
    padding: 12px;
}

.va-container {
    flex: 1;
    padding: 4em 5em;

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 1.5em 0;
    }

    li {
        display: inline-block;
        width: 128px;
        max-width: 128px;
        padding: 1em;
        transition: all 0.25s ease;
        color: $icon-color;
        text-align: center;

        span {
            font-size: 4em;
        }

        p {
            transition: all 0.25s ease;
            color: $primary-color;
            font-size: 12px;
            overflow-wrap: break-word;
        }

        &:hover,
        &.is-active {
            transition: all 0.25s ease;
            background: $background-hover;
            color: $icon-hover;
            cursor: pointer;

            p {
                transition: all 0.25s ease;
                color: #FFFFFF;
            }
        }
    }

    a {
        display: block;
        margin-top: 1em;
    }
}

.va-drawer {
    h3 {
        font-size: 1em;
    }

    .va-drawer-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 160px;

        .va-icon {
            font-size: 4em;
        }
    }

    .va-drawer-body {
        padding: 1em;

        code {
            color: #999999;
            font-size: 12px;
        }
    }

    .twitter-picker {
        margin: 1em 0 2em;
        border: none !important;
        box-shadow: none !important;

        input {
            font-family: monospace !important;
        }

        div:nth-child(3) {
            padding: 0 !important;

            div {
                margin: 0 5px 10px 0 !important;
                border-radius: 30px !important;

                &:nth-last-of-type(3) {
                    margin: 0 !important;
                    border-radius: 4px 0 0 4px !important;
                }
            }
        }
    }
}

footer {
    padding: 1em;
    font-size: 12px;
    text-align: center;
}
