body {
    margin: 0;
    padding: 0;
    background: #181818;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 34px;
}

p {
    font-size: 16px;
}

a {
    transition: all 0.25s ease;
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
        transition: all 0.25s ease;
        color: #606060;
    }
}
