.va-appbar-icon {
  width: 24px;
  height: 24px;
  padding: 12px; }

.va-container {
  padding: 4em 5em; }

.va-container ul, .va-container li {
  margin: 0;
  padding: 0;
  list-style: none; }

.va-container ul {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5em 0; }

.va-container li {
  display: inline-block;
  text-align: center;
  width: 128px;
  max-width: 128px;
  padding: 1em;
  transition: all .25s ease;
  color: #2979ff; }

.va-container li span {
  font-size: 4em; }

.va-container li p {
  font-size: 12px;
  overflow-wrap: break-word;
  color: #606060;
  transition: all .25s ease; }

.va-container li:hover, .va-container li.is-active {
  background: #242424;
  cursor: pointer;
  transition: all .25s ease;
  color: #ffd740; }

.va-container li:hover p, .va-container li.is-active p {
  color: #FFFFFF;
  transition: all .25s ease; }

.va-drawer h3 {
  font-size: 1em; }

.va-drawer .va-drawer-icon {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center; }

.va-drawer .va-drawer-icon .va-icon {
  font-size: 4em; }

.va-drawer .va-drawer-body {
  padding: 1em; }

.va-drawer .va-drawer-body p {
  color: #999999;
  font-size: 12px; }

.va-drawer .va-drawer-list-item span {
  width: 100%; }
