body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  background: #181818;
}

h2 {
  font-size: 34px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  transition: all .25s ease;
  &:hover {
      color: #606060;
      transition: all .25s ease;
  }
}
